
// Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin 0
  padding 0
  border 0
  outline 0
  font-size 1em
  vertical-align baseline
  background transparent

html
  font-size 16px
body
  font-size 62.5% /* 1em = 10px */
  line-height 1.125em /* 16×1.125=18 */

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

:focus
  outline 0

del
  text-decoration line-through

table
  border-spacing 0


